/*Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Courier New', Courier, sans-serif;
}

@media screen and (max-width: 576px){
    /*Menu*/
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        background-color: #000E2D;
    }
    .menu .menu__image{
        width: 15%;
    }
    .menu__list{
        background-color: #000E2D;
        padding: 10px;

    }
    .menu__list .menu__item{
        list-style: none;
        font-size: 16px;
        text-align: end;
    }
    .menu__list .menu__item a{
        color: #F2AF2D;
        text-decoration: none;
        text-decoration: none;
        font-weight: bold;
    }

    /*Viagens*/

}

@media screen and (min-width: 992px){
    /*Menu*/
    .menu{
        display: none;
    }


    /*Viagens*/
    .boxPlaneta {
        width: 45vh;
        height: 35vh;
        background-color: #AFCCDA;
        display: inline-block;
        vertical-align: top;
    }
    
    .boxPlaneta h4 {
        font-size: 1.75rem;
        font-weight: bold;
        text-align: center;
        padding: 1.5rem 0rem 1rem 0rem;
        color: #000E2D
    }
    
    .boxPlaneta p {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: justify;
        color: #000E2D;
        padding: 1rem 1rem 0rem 1rem;
    }
}