/*Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Courier New', Courier, sans-serif;
}

/*Mobile*/
@media screen and (max-width: 576px) {

    /*Menu*/
    .menu__desktop {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        background-color: #000E2D;
    }

    .menu .menu__image {
        width: 15%;
    }

    .menu__list {
        background-color: #000E2D;
        padding: 10px;

    }

    .menu__list .menu__item {
        list-style: none;
        font-size: 16px;
        text-align: end;
    }

    .menu__list .menu__item a {
        color: #F2AF2D;
        text-decoration: none;
        font-weight: bold;
    }

    /* Titulos das Páginas */
    .titulos {
        color: #ffffff;
        font-size: 2rem;
        font-weight: bold;
        padding-top: 0rem;
    }

    /* Home */
    #home {
        background-image: url("./Imagens/espaço.jpg");
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 6.5rem 2rem;
    }

    #home h3 {
        font-size: 1.5rem;
        padding-top: 1rem;
        color: #ffffff;
        text-align: center;
        background-color: rgba(204, 204, 204, 0.4);
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5rem;
        margin-bottom: 0rem;
    }

    #home div {
        font-size: 1.1rem;
        color: #ffffff;
        text-align: justify;
        background-color: rgba(204, 204, 204, 0.4);
        padding: 1rem 1.5rem 1.5rem 0rem;
        margin-left: 2%;
        margin-right: 2%;
    }

    /*Rodapé*/
    #rodape {
        background-color: #000E2D;
        text-align: left;
        padding: 0.1rem 0.5rem 0.5rem 0.5rem;
    }

    #rodape p {
        color: aliceblue;
        line-height: 1;
        font-weight: normal;
        font-size: 90%;
    }

    #rodape p a {
        text-decoration: none;
        color: aliceblue;
        font-weight: bold;
    }



}

/*Tablet*/
@media screen and (min-width: 577px) and (max-width: 991px) {

    /*Menu*/
    .menu {
        display: none;
    }

    .menu__desktop {
        background-color: #000E2D;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu__desktop .menu__desktop__image {
        width: 10%;
    }

    .menu__desktop .menu__desktop__list {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    .menu__desktop__list .menu__desktop__item {
        list-style: none;
        font-size: 1.1rem;
        text-align: end;
        padding-right: 1rem;
    }

    .menu__desktop__list .menu__desktop__item a {
        color: #F2AF2D;
        text-decoration: none;
        font-weight: bold;
    }

    /* Titulos das Páginas */
    .titulos {
        color: #ffffff;
        font-size: 2rem;
        font-weight: bold;
        padding-top: 0rem;
    }

    /* Home */
    #home {
        background-image: url("./Imagens/espaço.jpg");
        height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 6.5rem 2rem;
    }

    #home h3 {
        font-size: 1.5rem;
        padding-top: 1rem;
        color: #ffffff;
        text-align: center;
        background-color: rgba(204, 204, 204, 0.4);
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5rem;
        margin-bottom: 0rem;
    }

    #home div {
        font-size: 1.1rem;
        color: #ffffff;
        text-align: justify;
        background-color: rgba(204, 204, 204, 0.4);
        padding: 1rem 1.5rem 1.5rem 0rem;
        margin-left: 2%;
        margin-right: 2%;
    }


    /*Rodapé*/
    #rodape {
        background-color: #000E2D;
        text-align: left;
        padding: 0.1rem 0.5rem 0.5rem 0.5rem;
    }

    #rodape p {
        color: aliceblue;
        line-height: 1;
        font-weight: normal;
        font-size: 90%;
    }

    #rodape p a {
        text-decoration: none;
        color: aliceblue;
        font-weight: bold;
    }
}

/*Desktop*/
@media screen and (min-width: 992px) {

    /*Menu*/
    .menu {
        display: none;
    }

    .menu__desktop {
        background-color: #000E2D;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px 2px;
    }

    .menu__desktop .menu__desktop__image {
        width: 6%;
    }

    .menu__desktop .menu__desktop__list {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    .menu__desktop__list .menu__desktop__item {
        list-style: none;
        font-size: 1.3rem;
        text-align: end;
        padding-right: 1rem;
    }

    .menu__desktop__list .menu__desktop__item a {
        color: #F2AF2D;
        text-decoration: none;
        font-weight: bold;
    }

    /* Titulos das Páginas */
    .titulos {
        color: #ffffff;
        font-size: 2.5rem;
        font-weight: bold;
        padding-top: 4rem;
    }

    /*Home*/
    #home {
        background-image: url("./Imagens/espaço.jpg");
        height: 92vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 3rem 2rem;
    }

    #home h3 {
        font-size: 2rem;
        color: #ffffff;
        text-align: left;
        background-color: rgba(204, 204, 204, 0.4);
        padding-top: 1rem;
        padding-left: 1.5rem;
        margin-right: 50%;
        margin-top: 10rem;
        margin-bottom: 0rem;
    }

    #home div {
        font-size: 1.3rem;
        color: #ffffff;
        text-align: justify;
        background-color: rgba(204, 204, 204, 0.4);
        padding: 1rem 1.5rem 1.5rem 1.5rem;
        margin-right: 50%;
    }

    /*Rodapé*/
    #rodape {
        background-color: #000E2D;
        text-align: left;
        padding: 0.1rem 0.5rem 0.5rem 0.5rem;
    }

    #rodape p {
        color: aliceblue;
        line-height: 2;
        font-weight: normal;
        font-size: 90%;
    }

    #rodape p a {
        text-decoration: none;
        color: aliceblue;
        font-weight: bold;
    }

}