/*Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Courier New', Courier, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #CCCCCC;
}

/*Mobile*/
@media screen and (max-width: 576px) {

    /*Menu*/
    .menu__desktop {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        background-color: #000E2D;
    }

    .menu .menu__image {
        width: 15%;
    }

    .menu__list {
        background-color: #000E2D;
        padding: 10px;
    }

    .menu__list .menu__item {
        list-style: none;
        font-size: 16px;
        text-align: end;
    }

    .menu__list .menu__item a {
        color: #F2AF2D;
        text-decoration: none;
        font-weight: bold;
    }

    /* Titulos das Páginas */
    .titulos {
        color: #ffffff;
        font-size: 2rem;
        font-weight: bold;
        padding-top: 0rem;
    }

    /* Home */
    #home {
        background-image: url("./Imagens/espaço.jpg");
        height: 80vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2rem 2rem;
    }

    #home h3 {
        font-size: 1.5rem;
        padding-top: 1rem;
        color: #ffffff;
        text-align: center;
        background-color: rgba(204, 204, 204, 0.4);
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5rem;
        margin-bottom: 0rem;
    }

    #home div {
        font-size: 1.1rem;
        color: #ffffff;
        text-align: justify;
        background-color: rgba(204, 204, 204, 0.4);
        padding: 1rem 1.5rem 1.5rem 0rem;
        margin-left: 2%;
        margin-right: 2%;
    }

    /* Viagens */
    #viagens {
        margin-bottom: 3.5rem;
        padding: 2rem 2rem;
    }

    #viagens .titulos {
        color: #000E2D;
        padding-bottom: 3rem;
    }

    #carousel_align {
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .imgPlaneta {
        width: 50vh !important;
        height: 40vh !important;
    }

    .boxPlaneta {
        width: 50vh;
        background-image: linear-gradient(to bottom, #AFCCDA, #e0e0e0);
        display: inline-block;
        vertical-align: top;
    }

    .boxPlaneta h4 {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        padding: 1.5rem 0rem 1rem 0rem;
        color: #000E2D
    }

    .boxPlaneta p {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: justify;
        color: #000E2D;
        padding: 1rem 1rem 0rem 1rem;
    }

    /* Novidades */
    #novidades {
        background-image: url("./Imagens/novidades.jpg");
        height: 80vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2rem 2rem;
    }

    #novidades h3 {
        font-size: 1.5rem;
        padding-top: 1rem;
        color: #ffffff;
        text-align: center;
        background-color: rgba(204, 204, 204, 0.4);
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5rem;
        margin-bottom: 0rem;
    }

    #novidades div {
        font-size: 1.1rem;
        color: #ffffff;
        text-align: justify;
        background-color: rgba(204, 204, 204, 0.4);
        padding: 1rem 1.5rem 1.5rem 0rem;
        margin-left: 2%;
        margin-right: 2%;
    }

    /*Rodapé*/
    #rodape {
        background-color: #000E2D;
        text-align: left;
        padding: 0.1rem 0.5rem 0.5rem 0.5rem;
    }

    #rodape p {
        color: aliceblue;
        line-height: 1;
        font-weight: normal;
        font-size: 90%;
    }

    #rodape p a {
        text-decoration: none;
        color: aliceblue;
        font-weight: bold;
    }
}

/*Tablet*/
@media screen and (min-width: 577px) and (max-width: 991px) {

    /*Menu*/
    .menu {
        display: none;
    }

    .menu__desktop {
        background-color: #000E2D;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu__desktop .menu__desktop__image {
        width: 10%;
    }

    .menu__desktop .menu__desktop__list {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    .menu__desktop__list .menu__desktop__item {
        list-style: none;
        font-size: 1.1rem;
        text-align: end;
        padding-right: 1rem;
    }

    .menu__desktop__list .menu__desktop__item a {
        color: #F2AF2D;
        text-decoration: none;
        font-weight: bold;
    }

    /* Titulos das Páginas */
    .titulos {
        color: #ffffff;
        font-size: 2rem;
        font-weight: bold;
        padding-top: 0rem;
    }

    /* Home */
    #home {
        background-image: url("./Imagens/espaço.jpg");
        height: 75vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2rem 2rem;
    }

    #home h3 {
        font-size: 1.5rem;
        padding-top: 1rem;
        color: #ffffff;
        text-align: center;
        background-color: rgba(204, 204, 204, 0.4);
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5rem;
        margin-bottom: 0rem;
    }

    #home div {
        font-size: 1.1rem;
        color: #ffffff;
        text-align: justify;
        background-color: rgba(204, 204, 204, 0.4);
        padding: 1rem 1.5rem 1.5rem 0rem;
        margin-left: 2%;
        margin-right: 2%;
    }

    /* Viagens */
    #viagens {
        margin-bottom: 3.5rem;
        padding: 2rem 2rem;
    }

    #viagens .titulos {
        color: #000E2D;
        padding-bottom: 3rem;
    }

    #viagens #carousel_align {
        display: flex;
        justify-content: center;
        margin-left: 20%;
        margin-right: 20%;
    }

    .imgPlaneta {
        width: 60vh !important;
        height: 40vh !important;
    }

    .boxPlaneta {
        width: 60VH;
        background-image: linear-gradient(to bottom, #AFCCDA, #e0e0e0);
        display: inline-block;
        vertical-align: top;
    }

    .boxPlaneta h4 {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        padding: 1.5rem 0rem 1rem 0rem;
        color: #000E2D
    }

    .boxPlaneta p {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: justify;
        color: #000E2D;
        padding: 1rem 1rem 0rem 1rem;
    }

    /* Novidades */
    #novidades {
        background-image: url("./Imagens/novidades.jpg");
        height: 80vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2rem 2rem;
    }

    #novidades h3 {
        font-size: 1.5rem;
        padding-top: 1rem;
        color: #ffffff;
        text-align: center;
        background-color: rgba(204, 204, 204, 0.4);
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5rem;
        margin-bottom: 0rem;
    }

    #novidades div {
        font-size: 1.1rem;
        color: #ffffff;
        text-align: justify;
        background-color: rgba(204, 204, 204, 0.4);
        padding: 1rem 1.5rem 1.5rem 0rem;
        margin-left: 2%;
        margin-right: 2%;
    }

    /*Rodapé*/
    #rodape {
        background-color: #000E2D;
        text-align: left;
        padding: 0.1rem 0.5rem 0.5rem 0.5rem;
    }

    #rodape p {
        color: aliceblue;
        line-height: 1;
        font-weight: normal;
        font-size: 90%;
    }

    #rodape p a {
        text-decoration: none;
        color: aliceblue;
        font-weight: bold;
    }
}


/*Desktop*/
@media screen and (min-width: 992px) {

    /*Menu*/
    .menu {
        display: none;
    }

    .menu__desktop {
        background-color: #000E2D;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px 2px;
    }

    .menu__desktop .menu__desktop__image {
        width: 6%;
    }

    .menu__desktop .menu__desktop__list {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    .menu__desktop__list .menu__desktop__item {
        list-style: none;
        font-size: 1.3rem;
        text-align: end;
        padding-right: 1rem;
    }

    .menu__desktop__list .menu__desktop__item a {
        color: #F2AF2D;
        text-decoration: none;
        font-weight: bold;
    }

    /* Titulos das Páginas */
    .titulos {
        color: #ffffff;
        font-size: 2.5rem;
        font-weight: bold;
        padding-top: 1rem;
    }

    /*Home*/
    #home {
        background-image: url("./Imagens/espaço.jpg");
        height: 92vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2rem 2rem;
    }

    #home h3 {
        font-size: 2rem;
        color: #ffffff;
        text-align: left;
        background-color: rgba(204, 204, 204, 0.4);
        padding-top: 1rem;
        padding-left: 1.5rem;
        margin-right: 50%;
        margin-top: 10rem;
        margin-bottom: 0rem;
    }

    #home div {
        font-size: 1.3rem;
        color: #ffffff;
        text-align: justify;
        background-color: rgba(204, 204, 204, 0.4);
        padding: 1rem 1.5rem 1.5rem 1.5rem;
        margin-right: 50%;
    }

    /* Viagens */
    #viagens {
        margin-bottom: 5rem;
        padding: 2rem 2rem;
    }

    #viagens .titulos {
        color: #000E2D;
        padding-bottom: 3rem;
    }

    #viagens #carousel_align {
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .imgPlaneta {
        width: 80vh !important;
        height: 60vh !important;
    }

    .boxPlaneta {
        width: 80vh;
        background-image: linear-gradient(to bottom, #AFCCDA, #e0e0e0);
        vertical-align: top;
    }

    .boxPlaneta h4 {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        padding: 1.5rem 0rem 1rem 0rem;
        color: #000E2D
    }

    .boxPlaneta p {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: justify;
        color: #000E2D;
        padding: 1rem 1rem 0rem 1rem;

    }

    /*Novidades*/
    #novidades {
        background-image: url("./Imagens/novidades.jpg");
        height: 92vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2rem 2rem;
    }

    #novidades h3 {
        font-size: 2rem;
        color: #ffffff;
        text-align: left;
        background-color: rgba(204, 204, 204, 0.4);
        padding-top: 1rem;
        padding-left: 1.5rem;
        margin-right: 50%;
        margin-top: 10rem;
        margin-bottom: 0rem;
    }

    #novidades div {
        font-size: 1.3rem;
        color: #ffffff;
        text-align: justify;
        background-color: rgba(204, 204, 204, 0.4);
        padding: 1rem 1.5rem 1.5rem 1.5rem;
        margin-right: 50%;
    }

    #novidades .buttom {
        padding-left: px;
        color: #F2AF2D;
    }

    /*Rodapé*/
    #rodape {
        background-color: #000E2D;
        text-align: left;
        padding: 0.1rem 0.5rem 0.5rem 0.5rem;
    }

    #rodape p {
        color: aliceblue;
        line-height: 2;
        font-weight: normal;
        font-size: 90%;
    }

    #rodape p a {
        text-decoration: none;
        color: aliceblue;
        font-weight: bold;
    }

}